@import url('https://fonts.googleapis.com/css?family=BlinkMacSystemFont|Segoe+UI|Roboto|Noto+Sans|Ubuntu|Droid+Sans|Helvetica+Neue');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --display-tooltip-sidebar: none;
    --list-background: #ebecf0;
    --ds-surface-raised : #fff;
    --ds-text:#172b4d;
    --dynamic-background-transparent: hsla(218,20.4%,39.4%,0.9);
    --dynamic-text-transparent: hsla(0,0%,100%,0.16);
    --remove-task-button: none;
}

body {
width: 100vh;
height: 100vh;
background-color: rgb(55, 72, 102);
background-image: url("https://d2k1ftgv7pobq7.cloudfront.net/images/backgrounds/gradients/alien.svg");
color: whitesmoke;
overflow-x: hidden;
font-family: BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
}




/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #8f8192 #dcdada;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 13px;
  }

  *::-webkit-scrollbar-track {
    background: #dcdada;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #8f8192;
    border-radius: 12px;
    border: 2px solid #dedede;
  }





body, button, input, select, textarea {
    color: var(--ds-text,#172b4d);
    font-display: swap;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

input, textarea {
    background-color: var(--ds-background-input,#fff);
    border: none;
    border-radius: 3px;
    box-shadow: inset 0 0 0 2px var(--ds-border-input,#091e4224);
    box-sizing: border-box;
    display: block;
    line-height: 20px;
    margin-bottom: 12px;
    outline: none;
    padding: 8px 12px;
    transition-duration: 85ms;
    transition-property: background-color,border-color,box-shadow;
    transition-timing-function: ease;
}



.navigation{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.8rem;
}

.expand-boards{
    border: none;
    padding: 12px;
    border-radius: 12px;
    cursor: pointer;
}

.boards-list-hidden{
    width: 280px;
    min-height: 100vh;
    position: absolute;
    left: -280px;
    top: 0;
    transition: all 1.5s ease-in;
    background-color: var(--dynamic-background-transparent, var(--ds-surface, #ffffff));
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.boards-list{
    width: 280px;
    min-height: 100vh;
    position: absolute;
    left: 0px;
    top: 0;
    background-color: var(--dynamic-background-transparent, var(--ds-surface, #ffffff));
    backdrop-filter: blur(6px);
    transition: all 1.5s ease-in;
    box-shadow: 1px 0px 0px 0px var(--dynamic-text-transparent);
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.close-menu{
    background-color: red;
    padding: 8px;
    transition: all 0.6s ease-in;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.close-menu:hover{
    background-color: rgb(104, 6, 6)
}


.container{
    padding: 16px;
    min-width: 100vw;
    max-width: 100vw;
    height: fit-content;
    padding-right: 100px;
    overflow-x: hidden;
}

.sidebar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 26px;
    border-bottom: 2px solid rgba(240, 248, 255, 0.37);
    padding: 0.6rem ;
}
.sidebar-header-heading{
    font-weight: 600;
    font-size: 1.9rem;
    color: #fff;
    line-height: 40px;
}

.add-input{
    width: 100%;
    font-size: 1.2rem;
    background-color: #ffffff3d;
    border-radius: 12px;
    padding: 12px;
    color: #fff;
}
.add-input::placeholder{
    color: #fff;
}
.add-input:focus{
    outline: none;
}
.add-input:hover{
    background-color: #ffffff21;
}
#add-board-button{
    border: none;
    padding: 0.2rem;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-items: center;
    align-items: center;
    background: transparent;
}
#add-board-button > svg:hover path{
    fill: rgb(221, 252, 229)
}

.add-board-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.9rem;
}


#boards{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.board-name{
    font-size: 1rem;
    padding: 6px;
    padding-inline: 12px;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: all 0.3s ease-in;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    color: white;
    border: 1px solid rgb(182, 182, 181);
}
.board-name:hover{
    background-color: rgba(255, 255,255,0.4);
}
#board-name-header{
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
    font-weight: 800;
    color: white;
    border: 2px solid rgba(240, 248, 255, 0.658);
    border-radius: 0.6rem;
    padding: 0.9rem;
}
.board-name-text{
    max-width: 12rem;
    overflow: hidden;
    text-overflow: ellipsis;
}
.board-name-text:hover{
    --display-tooltip-sidebar:block;
}
.board-name-text::after{
    content: "Full board Name:"attr(data-board-name);
    position: absolute;
    background-color: rgb(0, 132, 255);
    padding: 0.3rem;
    font-size: 1.2rem;
    top: 0px;
    left: 0;
    right: -610px;
    border-radius: 0.4rem;
    min-width: 300px;
    max-width: 300px;
    transition: all 0.6s ease-in;
    word-wrap: break-word;
    max-height: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 0;
    z-index: 500;
    display: var(--display-tooltip-sidebar)
}
.board-name-text:hover::after{
    opacity: 0.9;
}



.cards-list-wrapper{
    min-width: calc(100% - 280px);
    min-height: 950px;
    max-height: 950px;
    margin-left: 280px;
    overflow-x: auto;
    display: flex;
    gap: 0.8rem;
    padding: 2.1rem;
}
.cards-list{
    padding-left: 2.4rem;
    display: flex;
    gap: 1.6rem;
    height: 100%;
}

.card{
    flex:none;
    width: 26rem;
    background: var(--list-background);
    min-height: 300px;
    padding: 0.6rem;
    color: #444;
    border-radius: 0.6rem;
    box-shadow: var(--ds-shadow-raised, 15px 15px 15px #091e4240, 2px 10px 12px #091e424f);
}


.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0.9rem;
}

.card-title{
    font-size: 1.6rem;
    font-weight: 600;
    max-width: 22rem;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: help;
}
.card-title::before{
    top: -60px;
    left: -90px;
    background-color: beige;
    width: fit-content;
    max-width: 250px;
    max-height: 60px;
    word-wrap: break-word;
    overflow-y: auto;
    content: "Full Card Name: "attr(data-title);
    position: absolute;
    opacity: 0;
    transition: all 0.6s ease-in-out;
    z-index: 60;
    padding: 1.4rem;
    text-overflow: ellipsis;
    border-radius: 0.6rem;
    margin-bottom: 20px;
}
.card-title:hover::before{
    opacity: 1;
}

.card-option{
    border: none;
    padding: 1.2rem;
    cursor: pointer;
    border-radius: 0.8rem;
    transition: all 0.3s ease-in-out;
    background-color: var(--ds-text);
    color: whitesmoke;
}
.card-option:hover{
    background-color: #444;
    color: whitesmoke;
}

.tasks-wrapper{
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 300px;
    max-height: 600px;
    overflow-y: auto;
    gap:1rem;
    margin-bottom: 1.2rem;
    font-size: 1rem;
    padding: 0.6rem;
}
.add-task{
    position: absolute;
    right: 0;
    border: none;
    padding: 0.8rem;
    border-radius: 0.3rem;
    background-color: #6a0;
    color: white;
    cursor: pointer;
    transition: all 0.4s ease;
}
.add-task:hover{
    background-color: rgb(70, 107, 14);
}
.form-add-task{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.6rem;
    align-items: center;
    position: relative;
}
.form-add-task > .add-input{
        background-color: var(--ds-surface-raised, #ffffff);
        box-shadow: var(--ds-shadow-raised, 0px 1px 1px #091e4240, 0px 0px 1px #091e424f);
        color: var(--ds-text);
        border-radius: 8px;
        border: none;
        height: 54px;
        height: auto;
        margin: 0;
        max-height: 162px;
        min-height: 54px;
        overflow: hidden;
        overflow-wrap: break-word;
        overflow-y: auto;
        padding: 8px 12px;
        padding-right: 110px;
        resize: none;
} 
.form-add-task > .add-input::placeholder{
    color: var(--ds-text);
}
.form-add-task > .add-input:hover::placeholder{
    color: white;
}
.form-add-task > .add-input:hover{
    background-color: rgba(21, 61, 129, 0.726);
    color: white;
}

.add-card{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 30rem;
}
.add-card-button{
    padding: 16px;
    border: none;
    border-radius: 1.2rem;
    width: fit-content;
    color: white;
    cursor: pointer;
    font-size: 3rem;
    transition: all 0.4s ease;
    text-align: center;
    background-color: transparent;
}

.no-board-selected{
    font-size: 3rem;
    width: 100%;
    position: relative;
    padding: 8rem;
    color: white;
    font-weight: 600;
    /* background-color: aliceblue; */
}
.no-board-selected::before{
    content: "\2196";
    position: absolute;
    top: 25px;
    left: 0;
    padding-inline: 1.2rem;
    font-size: 4rem;
    border-radius: 12px;
}
.boards-title{
    font-size: 2rem;
    font-weight: 600;
    color: lightblue;
    padding-bottom: 0.6rem;
    text-shadow: var(--ds-shadow-raised, 0px 1px 1px #091e4240, 0px 0px 1px #091e424f);
}

.tasks-list{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: 100%;
    border: 2px solid rgb(181, 196, 209);
    border-radius: 0.6rem;
    padding: 0.4rem;
    flex: 1;
}
.task{
    background-color: var(--ds-surface-raised, #ffffff);
    color: #1742b47b;
    box-shadow: var(--ds-shadow-raised, 0px 1px 1px #091e4240, 0px 0px 1px #091e424f);
    border-radius: 8px;
    border: none;
    height: 54px;
    height: auto;
    margin: 0;
    max-height: 162px;
    min-height: 54px;
    overflow: hidden;
    overflow-wrap: break-word;
    padding: 8px 12px;
    resize: none;
    position: relative;
    cursor: move;
}

.task.dragging :where(.task-title){
    opacity: 0;
}

.task:hover{
    border: 2px solid #06142c40;
    --remove-task-button: block;
}
.task-options-wrapper{
    display: flex;
    gap: 0.8rem;
}


.remove-board{
    padding: 0.2rem 0.4rem;
    border: none;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.4s ease-in-out;
    color: whitesmoke;
    font-size: 1.2rem;
}
.remove-board:hover{
    background-color: rgba(94, 86, 86, 0.4);
}

.remove-task-button {
    background-color: rgb(240, 55, 55);
}

.remove-task-button{
    display: var(--remove-task-button);
    position: absolute;
    padding: 0.5rem 1rem;
    top: -2px;
    right: 0;
    border-radius: 0.7rem;
    background-color: #f44336;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border:none
}

.modal-alert{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99;
}
.modal-alert-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(192, 176, 176, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-alert-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 450px;
    background: #333;
    position: relative;
    border-radius: 0.3rem;
}
.close-alert-modal{
    position: absolute;
    top: -6px;
    right: -6px;
    background-color: red;
    padding-inline: 0.8rem;
    padding-block: 0.4rem;
    font-size: 2rem;
    transition: all 0.3s ease-in;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 6px;
}
.close-alert-modal:hover{
    background-color: rgb(112, 24, 24);
}
.toast{
    position: fixed;
    bottom: 1.6rem;
    right: calc(1.6rem);
    min-width: 600px;
    min-height: 150px;
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.4rem;
    border-radius: 0.6rem;
    transition: all 2.3s ease;
    color: white;
}
.toast-hidden{
    position: fixed;
    bottom: 1.6rem;
    right: -800px;
    min-width: 600px;
    min-height: 150px;
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.4rem;
    border-radius: 0.6rem;
    transition: all 2.3s ease;
    color: white;
}

.green{
    background-color: green;
}
.red{
    background-color: #DC2626;
}

.toast-title{
    font-size: 1.6rem;
    font-weight: 400;
}
.toast-description{
    font-weight: 400;
}



.options-card-list-wrapper{
    display: flex;
    gap: 0.5rem;
}


.remove-card-button, .clear-card-button, .cancel-card-button{
    padding: 0.8rem;
    cursor: pointer;
    background-color: #333;
    border: none;
    border-radius: 0.3rem;
    color: aliceblue;
    transition: all 0.3s ease-in;
} 
.remove-card-button:hover, .clear-card-button:hover, .cancel-card-button:hover{
    background-color: #111;
}
.hidden{
    display: none;
}

